<ion-content>
  <ion-slides #slides>
    <ion-slide id="main">
      <h1>Game History</h1>
      <ion-button (click)="this.routeTo('home')">Start a new game</ion-button>

      <ion-list>
        <ion-item class="game" *ngFor="let game of this.gameNumbers; index as i" (click)="selectGame(game)">
          <ion-label>{{ game }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-button class="logout" (click)="onLogout()">Log out</ion-button>

    </ion-slide>

    <ion-slide id="viewed" *ngIf="this.chosenGame">
      <h1>{{ this.chosenGame.name }}</h1>

      <div class="flex">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <p (click)="this.unlockAndSlide('prev')">Back</p>
      </div>

      <div class="graph">
        <h3 class="subtitle">Stack Size vs. Hand Number</h3>
        <canvas #stackChart></canvas>
  
        <h4>Peak stack size: £{{ this.chosenGame.peakStack.toFixed(2) }}</h4>
      </div>
  
      <div class="graph">
        <h3 class="subtitle">Stack Change (increase/decrease) vs. Hand Number</h3>
        <canvas #changeChart></canvas>
  
        <h4>Average change per hand: £{{ this.chosenGame.avgChange.toFixed(2) }}</h4>
      </div>
  
      <div class="graph">
        <h3 class="subtitle" *ngIf="this.chosenGame.takeArray.length >= 10">Top 10 Takes</h3>
        <h3 class="subtitle" *ngIf="this.chosenGame.takeArray.length === 1">Top Take</h3>
        <h3 class="subtitle" *ngIf="this.chosenGame.takeArray.length < 10">Top {{ this.chosenGame.takeNumber }} Takes</h3>
        <canvas #takeChart></canvas>
  
        <!--h4 *ngIf="this.takeArray.length > 0" >Best win: £{{ this.chosenGame.bestWin.toFixed(2) }}</h4-->
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
