ion-slide {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.flex {
    display: flex;
    width: 100%;
    
    ion-icon {
        margin-top: 2px;
    }
    
    p {
        margin: 0;
    }
}

ion-button {
    color: var(--ion-color-primary);
    --background: transparent;
    --background-activated: transparent;
    text-transform: none;
    --box-shadow: none;
}

.logout {
    color: var(--ion-color-danger);
}

ion-list {
    width: 95vw;
}