<ion-content>
  <ion-slides #slides>
    <ion-slide id="main">
      <div class="title">
        <img src="../../assets/icon/pokericon.png">
        <h1>Game History</h1>
      </div>

      <h3 *ngIf="this.userDetails">Welcome back {{this.userDetails.name}}!</h3>

      <ion-button (click)="this.routeTo('account')">Your Account</ion-button>

      <div class="games">
        <div class="col -left">
          <h3>Solo</h3>
          <ion-button (click)="this.routeTo('home')">
            New game <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="col">
          <h3>Group</h3>
          <ion-button (click)="this.routeTo('create')">
            Create game <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="this.routeTo('join')">
            Join game <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <!--ion-button (click)="this.routeTo('home')">
        Start a new game <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="this.routeTo('create')">
        Start a group game <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="this.routeTo('join')">
        Join a group game <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button-->

      <ion-list>
        <ion-item class="game" *ngFor="let game of this.userGameHistory; index as i" (click)="selectGame(i)">
          <ion-label>{{ game.name }}</ion-label>
        </ion-item>
      </ion-list>

      <span #noGames class="hide">No games found! Start one to see your game history.</span>

      <ion-button class="logout" (click)="onLogout()">Log out</ion-button>

    </ion-slide>

    <ion-slide id="viewed" *ngIf="this.chosenGame">
      <div class="flex center" #oldName>
        <h1>{{ this.chosenGame.name }}</h1>
        <ion-button (click)="showRenameInput()" class="rename">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
      </div>

      <div class="flex center" style="display: none" #newName>
        <ion-input class="newName" value={{this.chosenGame.name}} #nameInput></ion-input>
        <ion-button (click)="renameGame()" class="rename">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </div>
      

      <ion-button class="back">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <p (click)="this.unlockAndSlide('prev')">Back to History</p>
      </ion-button>

      <h3 class="subtitle">Final stack size: {{ this.chosenGame.curr }}{{ this.finalStack.toFixed(2) }}</h3>

      <div class="flex percent" 
      [style.color]="this.finalChange > 0 ? 'var(--ion-color-success)' :
                        this.finalChange < 0 ? 'var(--ion-color-danger)' :
                        'var(--ion-color-light-contrast)'">

        <ion-icon name="caret-up-outline" *ngIf="this.finalChange > 0"></ion-icon>
        <ion-icon name="caret-down-outline" *ngIf="this.finalChange < 0"></ion-icon>
        <ion-icon name="remove-outline" *ngIf="this.finalChange === 0"></ion-icon>

        <h3>({{ this.chosenGame.curr }}{{ this.finalChange.toFixed(2) }})</h3>
      </div>

      <div class="graph">
        <h3 class="subtitle">Stack Size vs. Hand Number</h3>
        <canvas #stackChart></canvas>
  
        <h4>Peak stack size: {{ this.chosenGame.curr }}{{ this.chosenGame.peakStack.toFixed(2) }}</h4>
      </div>
  
      <div class="graph">
        <h3 class="subtitle">Stack Change (increase/decrease) vs. Hand Number</h3>
        <canvas #changeChart></canvas>
  
        <h4>Average change per hand: {{ this.chosenGame.curr }}{{ this.chosenGame.avgChange.toFixed(2) }}</h4>
      </div>
  
      <div class="graph">
        <h3 class="subtitle" *ngIf="this.chosenGame.takeArray.length >= 10">Top 10 Takes</h3>
        <h3 class="subtitle" *ngIf="this.chosenGame.takeArray.length === 1">Top Take</h3>
        <h3 class="subtitle" *ngIf="this.chosenGame.takeArray.length < 10">Top {{ this.chosenGame.takeNumber }} Takes</h3>
        <canvas #takeChart></canvas>
  
        <h4 *ngIf="this.chosenGame.takeArray.length > 0" >Best win: {{ this.chosenGame.curr }}{{ this.bestWin.toFixed(2) }}</h4>
      </div>

      <div class="graph">
        <h3 class="subtitle">More stats</h3>

        <table class="moreStats">
          <tbody>
            <tr *ngIf="this.chosenGame.preFolds != undefined"> <td>Off-Blind Pre-flop Folds</td> <td>{{ this.chosenGame.preFolds }}</td> </tr>
            <tr> <td>Total Hands</td> <td>{{ this.chosenGame.takeArray.length }}</td> </tr>
            <tr *ngIf="this.chosenGame.potsWon != undefined"> <td>Pots Won</td> <td>{{ this.chosenGame.potsWon }} ({{ this.potPerc.toFixed(2) }}%)</td> </tr>
          </tbody>
        </table>
      </div>

      <ion-button class="logout">
        <p (click)="this.deleteChosenGame()">Delete {{ this.chosenGame.name }}</p>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
