ion-slide {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.hide {
    display: none;
}

span {
    width: 90%;
    margin-top: 2vh;
}

.flex {
    display: flex;
    width: 100%;
    
    ion-icon {
        margin-top: 2px;
    }
    
    p {
        margin: 0;
    }
}

.center {
    justify-content: center;
    text-align: center;
}

.rename {
    --padding-start: 1vw;
    --padding-end: none;
    margin: 2vh 0 0;
}

.newName {
    font-size: 26px;
    border-bottom: solid 1px var(--ion-color-primary);
    --padding-bottom: 0;
    flex: 0.8;
}

.percent {
    font-size: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
  
    h3 {
      margin: 0;
      font-size: 2.4vh;
    }
  }

ion-button {
    color: var(--ion-color-primary);
    --background: transparent;
    --background-activated: transparent;
    text-transform: none;
    --box-shadow: none;

    ion-icon {
        margin-left: 5px;
    };
}

.games {
    border-top: solid 2px var(--ion-color-primary);
    display: flex;
    height: 25vh;

    .col {
        width: 50%;

        &.-left {
            border-right: solid 1px var(--ion-color-primary);
        }
    }
}

.logout {
    color: var(--ion-color-danger);
}

ion-list {
    width: 95vw;
    border-top: solid 2px var(--ion-color-primary);

    ion-item {
        --inner-border-width: 0;
        border-bottom: solid 1px var(--ion-color-primary);
    };
}

.title {
    display: flex;
    width: 90vw;
    text-align: left;

    img {
        margin: 2.5vh 5px 5px;
        height: 7vh;
    };

    h1 {
        font-size: 4.5vh;
    };
}

.moreStats {
    text-align: left;
    width: 95vw;
    margin-left: 3vw;
  
    tr {
      height: 4vh;
      border-bottom: solid 1px var(--ion-color-primary);
    }
  }

.back {
    margin-left: -55vw;
}