.title {
    display: flex;
    width: 90vw;
    text-align: left;

    img {
        margin: 2.5vh 5px 5px;
        height: 7vh;
    };

    h1 {
        font-size: 4.5vh;
    };
}

p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

p.error {
    display: none;
    color: var(--ion-color-danger);
    margin-top: 3vh;
}

ion-input.password {
    font-size: 2.5vh;
    width: 80%;
    margin: 0 auto;
    border: solid 2px var(--ion-color-danger);
    border-radius: 10px;
    --padding-start: 5px;
    margin-top: 2vh;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    text-align: center;
}

ion-button.delete {
    margin-top: 3vh;
    --background: var(--ion-color-danger);
    --background-activated: var(--ion-color-danger);
}

ion-button.back {
    color: var(--ion-color-primary);
    --background: transparent;
    --background-activated: transparent;
    text-transform: none;
    --box-shadow: none;
  
    ion-icon {
        margin-left: 5px;
    };
}