<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<ion-content>
  <div #head>
    <h1 class="head">Poker Chart</h1>
    <h2>Add your take after each hand and track your game!</h2>
  </div>

  <div #buyScreen class="add-buy">
    <ion-input class="buy" #name placeholder="Game name" (ionChange)="removeSlash($event)"></ion-input>

    <ion-segment #currency 
    mode="ios" 
    class="buy" 
    color="primary"
    (ionChange)="selectCurrency()">
      <ion-segment-button value="£">
        <ion-label>£</ion-label>
      </ion-segment-button>

      <ion-segment-button value="$">
        <ion-label>$</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="€">
        <ion-label>€</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="flex">
      <p class="curr-sign">{{ this.curr }}</p>
      <ion-input class="buy curr" #buy placeholder="Buy-in"></ion-input>
    </div>

    <div class="flex error" #buyError>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>Please enter a number for your buy-in!</p>
    </div>

    <div class="flex error" #nameError>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>Please enter a name for the game!</p>
    </div>

    <div class="start">
      <ion-button (click)="startGame()">Start</ion-button>
    </div>
  </div>

  <div #buttons class="flex buttons">
    <ion-button #loss class="loss" (click)="showInput('loss')">Loss</ion-button>
    <ion-button #gain class="gain" (click)="showInput('gain')">Gain</ion-button>
  </div>

  <div id="hidden">
    <ion-input
    #take
    class="change"
    inputmode="decimal"
    name="change">
    </ion-input>
  
    <div class="submit">
      <ion-button #submit (click)="submitChange()">Submit {{ this.changeType }}</ion-button>
    </div>
  
    <div class="flex error" #changeError>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <p>Not a valid {{ this.changeType }}, please enter a number</p>
    </div>
  </div>

  <div #slide class="slide-down">
    <h2>Current stack size</h2>
    <h2>{{ this.curr }}{{ this.stackSize }}</h2>

    <div class="flex percent" 
    [style.color]="this.percChange > 0 ? 'var(--ion-color-success)' :
                      this.percChange < 0 ? 'var(--ion-color-danger)' :
                      'var(--ion-color-light-contrast)'">

      <ion-icon name="caret-up-outline" *ngIf="this.percChange > 0"></ion-icon>
      <ion-icon name="caret-down-outline" *ngIf="this.percChange < 0"></ion-icon>
      <ion-icon name="remove-outline" *ngIf="this.percChange === 0"></ion-icon>

      <h3>({{ this.percChange.toFixed(1) }}%)</h3>
    </div>

    <div class="flex undo">
      <ion-button (click)="undoLastMove()"><ion-icon name="refresh-outline"></ion-icon> Undo last move</ion-button>
    </div>

    <div class="graph">
      <h3 class="subtitle">Stack Size vs. Hand Number</h3>
      <canvas #stackChart></canvas>

      <h4>Peak stack size: {{ this.curr}}{{ this.peakStack.toFixed(2) }}</h4>
    </div>

    <div class="graph">
      <h3 class="subtitle">Stack Change (increase/decrease) vs. Hand Number</h3>
      <canvas #changeChart></canvas>

      <h4>Average change per hand: {{ this.curr }}{{ this.avgChange.toFixed(2) }}</h4>
    </div>

    <div class="graph">
      <h3 class="subtitle" *ngIf="this.takeNumber === 0">Top Takes</h3>
      <h3 class="subtitle" *ngIf="this.takeNumber === 1">Top Take</h3>
      <h3 class="subtitle" *ngIf="this.takeNumber > 1">Top {{ this.takeNumber }} Takes</h3>
      <canvas #takeChart></canvas>

      <h4 *ngIf="this.takeArray.length > 0" >Best win: {{ this.curr }}{{ this.takeArray[0].toFixed(2) }}</h4>
    </div>

    <div class="graph">
      <h3 class="subtitle">More stats</h3>

      <table class="moreStats">
        <tbody>
          <tr> <td>Total Stack Change</td> <td>{{ this.curr }}{{ this.totalChange.toFixed(2) }}</td> </tr>
          <tr> <td>Off-Blind Pre-flop Folds</td> <td>{{ this.preFolds }}</td> </tr>
          <tr> <td>Total Hands</td> <td>{{ this.hand }}</td> </tr>
          <tr> <td>Pots Won</td> <td>{{ this.potsWon }} ({{ this.potPerc.toFixed(2) }}%)</td> </tr>
        </tbody>
      </table>
    </div>

    <ion-button class="toHistory" (click)="this.routeTo('history')">End Game</ion-button>
  </div>

</ion-content>
