ion-content {
  background-color: var(--ion-color-primary-contrast);
}

ion-button {
  text-transform: none;
}

ion-button.toHistory {
  color: var(--ion-color-primary);
  --background: transparent;
  --background-activated: transparent;
  --box-shadow: none;
  width: 100%;
}

.flex {
  display: flex;
}

.error {
  color: var(--ion-color-danger);
  margin-top: 20px;
  display: none;

  width: 100%;
  justify-content: center; //When displayed, flexbox, this centers elements

  p {
    margin: 0 0 0 5px;
  }

  ion-icon {
    padding-top: 2px;
  }
}

.buttons {
  margin: 2.6vh auto 0;
  width: 100%;
  justify-content: center;
}

.graph {
  border-top: solid 2px var(--ion-color-primary);
  padding: 10px 0;
  margin: 10px 0;
}

.percent {
  font-size: 3vh;
  width: 100%;
  display: flex;
  justify-content: center;

  h3 {
    margin: 0;
    font-size: 2.4vh;
  }
}

.head {
  font-size: 5vh;
  text-align: center;
}

.subtitle {
  font-size: 2.6vh;
  padding-left: 10px;
}

h2 {
  text-align: center;
}

h4 {
  padding-left: 10px;
  color: var(--ion-color-dark-tint);
}

h2.buy {
  margin-top: 30vh;
}

ion-input.change {
  font-size: 2.5vh;
  width: 80%;
  margin: 0 auto;
  border: solid 2px var(--ion-color-primary);
  border-radius: 10px;
  --padding-start: 5px;
  margin-top: 2vh;
}

ion-input.buy {
  font-size: 2.5vh;
  width: 70%;
  margin: 0 auto;
  border: solid 2px var(--ion-color-primary);
  border-radius: 10px;
  --padding-start: 3.5vw;
}

.pound-sign {
  z-index: 3;
  position: absolute;
  left: 16vw;
  font-size: 2.5vh;
  margin-top: 12px;
}

.loss {
  --background: var(--ion-color-danger);
  --background-activated: var(--ion-color-danger-shade);
  font-size: 3vh;
}

.gain {
  --background: var(--ion-color-success);
  --background-activated: var(--ion-color-success-shade);
  font-size: 3vh;
}

.start {
  position: absolute;
  top: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit {
  margin-top: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-buy {
  transition: 0.7s ease-in-out;
  background-color: var(--ion-color-primary-contrast);
  position: absolute;
  z-index: 5;
  height: 170vh;
  top: 18vh;
  width: 100vw;
}

.slide-down {
  border-top: solid 2px var(--ion-color-primary);
  transition: 0.4s ease-out;
  background-color: var(--ion-color-primary-contrast);
  position: absolute;
  width: 100vw;
  z-index: 4;
}

/* Tablets not quite optimised */

/* iPhone 5/SE (useless phone) */
@media only screen and (max-device-height: 590px) {
  .start {
    top: 52vh;
  }
}

/* Moto G4, Galaxy S5 */
@media only screen and (max-device-height: 650px) and (min-device-height: 591px) {
  h2.buy {
    margin-top: 25vh;
  }
}

/* Galaxy Fold (ridiculously tall and thin) */
@media only screen and (max-device-height: 655px) and (max-device-width: 280px) {
  h2.buy {
    margin-top: 20vh;
  }
}

/* iPad */
@media only screen and (min-device-width: 765px) {
  ion-button {
    font-size: 2vh;
  }

  .error {
    font-size: 2vh;
  }

  h4 {
    font-size: 3vh;
  }
}

/* iPad Pro */
@media only screen and (min-device-width: 1020px) {
  h2 {
    font-size: 3vh;
  }
}
